/* ====================================================== Basic Resets */
body, html, div, label, p, h1, h2, h3, h4, h5, h6, form, a, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

/* AREAS */
html {
	position: relative;
    min-height: 100%;
}

body {
	line-height: 1;
	font-size: 88%;
	font-family: 'Open Sans', arial, sans-serif;
	background: #E9EBEE;
	color: #585858;
	margin: 0 0 100px;
}

header {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: #4CAF50;
	background: -moz-linear-gradient(   -45deg, #4CAF50 0%, #80c217 30%,  #7cbc0a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #4CAF50 0%, #80c217 30%,  #7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(        135deg, #4CAF50 0%, #80c217 30%,  #7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-top: 4px solid rgba(0,0,0,0.2);
	border-bottom: 4px solid rgba(0,0,0,0.2);
	margin-bottom: 30px;
}

main {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 100px;
}

footer {
	background: #333;
	position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}

footer div.social-media {
	color: white !important;
	margin-bottom: 10px;
}

footer a {
	color: #a7a7a7;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer div.social-media ul {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0px;
}

footer div.social-media ul li {
	font-size: 16px;
	margin-bottom: 9px;
}


/* ELEMENTS */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
    padding: 23px 0;
	margin: 0 15px;
	color: #5B5B5B;
	letter-spacing: 1px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 25px;
}

.centered {
	margin: 0px auto;
	width: 80%;
}

.title {
	color: white;

	padding: 0px;
	padding: 15px 0px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.7);

}


div.entry-container {
	padding: 20px !important;
}

div.entry-container textarea {
	width: 96%;
	border-radius: 3px;
	border: 1px solid lightgrey;
	padding: 12px 12px;

}


button[type="submit"]:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

button[type="submit"] {
	margin-top: 10px;
	font-size: 16px;
  outline: 0;
  color: #fff;
  background-color: #80c217;
  text-align: center;
  letter-spacing: 3px;
  cursor: pointer;
	border: 2px solid #4CAF50;
	border-radius: 2px;
	display: inline-block;
	padding: 15px 30px 12px 30px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	float: right;
}

div.clearfix {
	clear: both;
}

div.post {
  border: 1px solid lightgrey;
  margin: 0px 0px 15px 0px;
	padding: 0px;
  border-radius: 3px;
	background-color: #FAFAFA;
}

div.postDetail {
	border-top: 1px solid lightgrey;
	padding: 8px 10px 4px 10px;
	margin: 5px;
	font-size: 12px;
	color: grey;
}

div.postBody {
	color: #363636;
	padding: 15px 15px 0px 15px;
	font-size: 16px;
	line-height: 1.5;
}

.post p {
	margin: 5px 0px 15px 0px;
}

/* === for smaller screens == */
@media screen and (max-width: 600px) {
	.centered {
		margin: 0px auto;
		width: 95%;
	}
	main {
		margin: 0px auto;
		width: 95%;
	}
	button[type="submit"] {
		width: 100%;
	}

}
