/*******************
* Basic Resets
********************/

body, html, div, label, p, h1, h2, h3, h4, h5, h6, form, a, input, textarea {
	border: 0; 
	margin: 0; 
	outline: none;
	padding: 0; 
	font-size: 16px;	
}


body {
	background: #FAFAFA;
	color: #52341D;
	font-family: 'Open Sans', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 15px;
	padding: 23px 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 25px;
}

/*******************
*  Header
********************/


header {
	text-align: center;
}

nav {
	text-align: center;
}

nav a {
	font-family: 'Quicksand', sans-serif;
	padding: 0 5px;
	color: #52341D;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover {
	font-size: 20px;
}

nav .active {
	font-weight: 600;
	text-decoration: underline;
}

.shop-front {
	background-image: url("./img/shop-front.png");
	background-position: left top;
	background-repeat: repeat-x;
	background-size: contain; 
	height: 28px;
	text-align: center;
}

.title {
	color: white;
}

.main-logo {
	padding: 20px 0;
	width: 150px;
	height: auto;
}

/*******************
*  Footer
********************/

footer {
	background-color: #E8A1B3;
	text-align: center;
}

.social-media {
	color: #ffffff;
	padding: 30px 0;
}

.social-media a {
	padding: 0 5px;
}

.social-media img {
	width: 48px;
}

.credits {
	color: #ffffff;
	font-size: 9px;
	padding: 20px 0;
}

div.credits a, div.credits a:visited {
	color: #ffffff;
	font-size: 9px;
}

main {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 970px;
}

/*******************
*  Popular
********************/

.articles-container {
	text-align: center;
	padding-top: 20px;
}

.article-container {
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	width: 60%;
}

.large {
	width: 60%;
}

.small {
	width: 35%;
}

.like-icon {
	width: 12px;
	height: 12px;
	display: inline-block;
	background-image: url("./img/like.png");
	background-size: cover;
	background-position: center;
}

.article-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	height: 288px;	
	position: relative;
}

.article-content {
    bottom: 0;
	color: #ffffff;	
	left: 0;
    position: absolute;
	text-align: left;    
}

.article-content h3 {
	font-size: 24px;
	padding-bottom: 10px;
}

.article-meta {
	margin-bottom: 15px;
	margin-left: 20px;
	text-align: left;
}

.article-1 {
	background-color:#ffffff;
	background-image: 
		linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), 
		url('./img/article-01.jpg');
}

.article-2 {
	background-color:#ffffff;
	background-image: 
		linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), 
		url('./img/article-02.jpg');
}

.article-3 {
	background-color:#ffffff;
	background-image: 
		linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), 
		url('./img/article-03.jpg');
}

.article-4 {
	background-color:#ffffff;
	background-image: 
		linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), 
		url('./img/article-04.jpg');
}


/*******************
*  Enter a New Post
********************/

.entry-container {
	margin: 20px auto;
	text-align: center;
	width: 50%;
}

textarea, input {
	width: 97%;
	min-height: 38px;
	border-radius: 3px;
	border: 1px solid #52341D;
	padding: 5px;
	margin: 5px 0;
	background: transparent;
}

button[type="submit"] {
	background-color: #52341D;
	border: none;
    color: #ffffff;
	cursor: pointer;
	font-size: 16px;
    padding: 15px 5px;
	width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    border-radius: 3px;
}

/*******************
*  Recent Articles
********************/
.post-container {
	cursor: pointer;
}

.thumbnail {
	height: 188px;
	width: 100%;
	margin-bottom: 10px;
}

.post {	
    background: #ffffff;
    border-radius: 2px;
	display: inline-block;
	height: 274px;
	margin: 10px;
	text-align: center;
	width: 350px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.3);
    box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.3);
    
}

.post h3 {
	font-size: 20px;
	text-overflow: ellipsis;
	text-align: left;
	overflow: hidden;
	padding: 0;
	margin-bottom: 10px;
	white-space: nowrap
}

/*******************
*  Media Queries
********************/

@media (min-width: 978px) {
	main {
		width: 70%;
	}
}


@media screen and (max-width: 600px) {
	main {
		width: 100%;
	}
	.large, .small {
		width: 100%;
	}

	.entry-container {
		width: 95%;
	}	
}